{% set jobdata = job.jobCache %}
{% set jobId = job.id %}

<div class="row">
    {% for metric in metrics %}
        {% set plot = jobdata.plots[metric.name]%}
        <div class="col-sm">
            <canvas id="{{ jobId }}_{{ plot.name }}"></canvas>
        </div>
    {% endfor %}
</div>

<script>
    {{ include("util/setPlotSize.html.twig") }}

    {% for metric in metrics %}
        {% set plot = jobdata.plots[metric.name]%}
        $("#{{ jobId }}_{{ plot.name }}").height( p_height ).width( p_width );
        {% if plot.name != 'roofline' %}
        var ctx_{{ jobId }}_{{ plot.name }} = document.getElementById("{{ jobId }}_{{ plot.name }}");
        {% set traces = plot.traces %}

        var options_{{ jobId }}_{{ plot.name }} = {{ plot.options|raw }};
        var data_{{ jobId }}_{{ plot.name }} = {{ plot.data|raw }};

        var chart_{{ jobId }}_{{ plot.name }} = new Chart(
                            ctx_{{ jobId }}_{{ plot.name }}, {
                                 type: 'scatter',
                                 data: data_{{ jobId }}_{{ plot.name }},
                                 options: options_{{ jobId }}_{{ plot.name }}
                            });
    {% endif %}
    {% endfor %}
</script>

