{% extends 'base.html.twig' %}

{% block title %}
    ClusterCockpit Login
{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-4 mx-auto">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="card">
                        <div class="card-header">
                            <h3>Login</h3>
                        </div>
                        <div class="card-body">
                            <form action="{{ path('security_login') }}" method="post">
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required autofocus/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" id="password" name="_password" class="form-control" required />
                                    </div>
                                    <input type="hidden" name="_target_path" value="{{ path('list_jobs') }}"/>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                                    <button type="submit" class="btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
    </section>
{% endblock %}
