{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navigation %}
     <span class="navbar-text font-weight-bold ml-5">
         Navigation
     </span>
     <ul class="navbar-nav mr-auto">
         <li class="nav-item">
             <a class="nav-link page-scroll" href="#page-top">
                 Top
             </a>
         </li>
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                     Metric lists
                 </a>
                 <div class="dropdown-menu">
                     {% for list in cluster.metricLists %}
                         <a class="dropdown-item page-scroll" href="#list-{{ list.id }}">
                         {{ list.name }}
                     </a>
                     {% endfor %}
                 </div>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#nodes">
                     Node list
                 </a>
             </li>
     </ul>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/feather.min.js') }}"/></script>
    <script src="{{ asset('js/bs-custom-file-input.min.js') }}"/></script>
    <script>
        {{ include('js/app-clusterConfig.js.twig') }}

        $(document).ready(function () {
            bsCustomFileInput.init()
            feather.replace()
        })
    </script>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% block body %}
        <div class="row">
            {{ include("renderSidebar.html.twig") }}
            <div class="col-10 ml-auto">

                <h2 id='page-top'>{{ title }} </h2>

                {{ form_start(form) }}
                <!-- {{ form_errors(form) }} -->

                <div class="form-group row">
                    <div class="col">
                        {{ form_row(form.name) }}
                        {{ form_row(form.coresPerNode) }}
                    </div>
                    <div class="col">

                        <div class="form-group">
                            {{ form_label(form.flopRateScalar) }}
                            <div class="input-group">
                                {{ form_widget(form.flopRateScalar) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">GFlops/s</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.flopRateSimd) }}
                            <div class="input-group">
                                {{ form_widget(form.flopRateSimd) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">GFlops/s</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            {{ form_label(form.memoryBandwidth) }}
                            <div class="input-group">
                                {{ form_widget(form.memoryBandwidth) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">GB/s</div>
                                </div>
                            </div>
                        </div>

                        {{ form_row(form.nodeFile) }}
                    </div>
                </div>

                <div class="form-group row justify-content-end">
                    <div class="col-1">
                        {{ form_widget(form.cancel, {'attr': {'class': 'btn-danger btn'}}) }}
                    </div>
                    <div class="col-2">
                        {{ form_widget(form.save, {'attr': {'class': 'btn-success btn'}}) }}
                    </div>
                </div>

                {{ form_end(form) }}

                {% for list in cluster.metricLists %}
                    <h4 id='list-{{ list.id }}'>Metric list: {{ list.name }}</h4>

                    <div class="table-responsive">
                        <table id="{{ list.name }}" class="table table-striped table-bordered  table-hover">
                            <thead class="thead-light">
                                <th>Position</th>
                                <th>Measurement</th>
                                <th>Name</th>
                                <th>Unit</th>
                                <th>Sampletime</th>
                                <th>Scale</th>
                                <th>Peak</th>
                                <th>Normal</th>
                                <th>Caution</th>
                                <th>Alert</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </thead>
                            <tbody>
                                {% for metric in list.metrics %}
                                    <tr>
                                        <td class="align-middle text-center">{{ metric.position }}</td>
                                        <td class="align-middle text-center">{{ metric.measurement }}</td>
                                        <td class="align-middle text-center">{{ metric.name }}</td>
                                        <td class="align-middle text-center">{{ metric.unit }}</td>
                                        <td class="align-middle text-center">{{ metric.sampletime }}</td>
                                        <td class="align-middle text-center">{{ metric.scale }}</td>
                                        <td class="align-middle text-center">{{ metric.peak }}</td>
                                        <td class="align-middle text-center">{{ metric.normal }}</td>
                                        <td class="align-middle text-center">{{ metric.caution }}</td>
                                        <td class="align-middle text-center">{{ metric.alert }}</td>
                                        <td class="align-middle text-center">
                                            <button type="button" name="edit" class="btn btn-success button-callback">
                                                <span class="fas fa-pen-square fa-lg" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                        <td class="align-middle text-center">
                                            <button type="button" name="delete" class="btn btn-danger button-callback">
                                                <span class="fas fa-times fa-lg" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row m-2 justify-content-end">
                            <div class="col-2">
                                <button type="button" value="{{ list.name }}" name="add" class="btn btn-secondary button-callback">Add new entry</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <h4 id='nodes'>Node list</h4>

                <a>Cluster has {{ cluster.nodes | length }} active nodes.</a>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered  table-hover">
                        <thead class="thead-light">
                            <th>Id</th>
                            <th>NodeId</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            {% for node in cluster.nodes %}
                                <tr>
                                    <td class="align-middle text-center">{{ node.id }}</td>
                                    <td class="align-middle text-center">{{ node.nodeId }}</td>
                                    <td class="align-middle text-center">{{ node.status }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    {% endblock %}


