{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/feather.min.js') }}"/></script>
    <script>
      feather.replace()

      $("#generate").click(function(){
          var text = "";
          var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
          for(var i = 0; i < 40; i++) {
              text += possible.charAt(Math.floor(Math.random() * possible.length));
          }
          $("#api_key_token").val(text);
      });
    </script>
{% endblock %}


{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
        <div class="container">
            <div class="row">
                {{ include("renderSidebar.html.twig") }}
                <div class="col-10 ml-auto">

                    <h2>{{ title }} </h2>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}
                    {{ form_row(form.user) }}
                    <div class="form-group row ">
                        {{ form_label(form.token) }}
                        <div class="col">
                            {{ form_errors(form.token) }}
                            {{ form_widget(form.token) }}
                        </div>
                        <div class="col-2">
                            <button id="generate" class="btn btn-warning" type="button">Re-Generate</button>
                        </div>
                    </div>
                    {{ form_row(form.enabled) }}
                    <div class="form-group row justify-content-end">
                        <div class="col-1">
                            {{ form_widget(form.cancel, {'attr': {'class': 'btn-danger btn'}}) }}
                        </div>
                        <div class="col-2 ml-3">
                            {{ form_widget(form.save, {'attr': {'class': 'btn-success btn'}}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}


