{% extends 'base.html.twig' %}

{% block title %}
    Config Panel
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/popper.min.js') }}"/></script>
    {{ parent() }}
    <script src="{{ asset('js/feather.min.js') }}"/></script>
    <script>
      {{ include('js/app-config.js.twig') }}

      feather.replace()
    </script>
{% endblock %}

{% block body %}
        <div class="row justify-content-between">
            {{ include("renderSidebar.html.twig") }}
            <div class="col-10 ml-auto">
                {% for key, section in configHash %}
                    <div class="my-3 p-2 bg-secondary text-white text-capitalize">
                        {{ key }}
                    </div>
                    {% for config in section %}
                    {{ include("util/configItem.html.twig") }}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
{% endblock %}

