{% extends 'base.html.twig' %}

{% block title %}
    Job tag counts
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/feather.min.js') }}"/></script>
    <script>
      feather.replace()
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row  justify-content-center"">
            <div class="col-10">
                {% for type, tags in tagHash %}
                    <div class="my-3 p-2 bg-secondary text-white text-capitalize">
                        {{ type }}
                    </div>
                    {% for tag in tags %}
                        <a class="btn btn-lg btn-warning m-2" href="{{ path('list_jobs_tag', {id : tag.id}) }}" role="button">
                            {{ tag.name }}<span class="badge badge-light ml-3">{{ tag.count }}</span>
                        </a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

