{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/uPlot.min.css'>
    {{ parent() }}
    {{ encore_entry_link_tags('analysisview') }}
{% endblock %}

{% block javascript %}
    <script>
        const filterPresets = {{ (filterPresets is defined)
            ? filterPresets | json_encode | raw
            : "null" }};

        const clusterCockpitConfigPromise = Promise.resolve({
            jwt: "{{ jwt }}",
            plot_view_plotsPerRow: {{ config.plot_view_plotsPerRow.value }},
            analysis_view_histogramMetrics: {{ (config.analysis_view_histogramMetrics is defined)
                ? config.analysis_view_histogramMetrics.value | raw
                : "null" }},
            analysis_view_scatterPlotMetrics: {{ (config.analysis_view_scatterPlotMetrics is defined)
                ? config.analysis_view_scatterPlotMetrics.value | raw
                : "null" }}
        });
    </script>
    {{ encore_entry_script_tags('analysisview') }}
{% endblock %}

{% block title %}
    Job Analysis
{% endblock %}

{% block navitem_analysis %}
    <li class="nav-item">
        <a class="nav-link active fs-5" style="color: {{ active_link_color }};" aria-current="page" href="{{ path('analysis') }}">
            <span class="cc-nav-text">Analysis</span>
            <i class="bi-graph-up"></i>
        </a>
    </li>
{% endblock %}

{% block helptext %}
{% endblock %}

{% block body %}
    <div id="svelte-app"></div>
{% endblock %}
