{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/uPlot.min.css'>
    {{ parent() }}
    {{ encore_entry_link_tags('analysisview') }}
{% endblock %}

{% block javascript %}
    <script>
        const clusterCockpitConfigPromise = Promise.resolve({});
    </script>
    {{ encore_entry_script_tags('analysisview') }}
{% endblock %}

{% block title %}
    Job Analysis
{% endblock %}

{% block navitem_analysis %}
    <li class="nav-item">
        <a class="nav-link active fs-5" style="color: {{ active_link_color }};" aria-current="page" href="{{ path('analysis') }}">
            Analysis
            <i class="bi-graph-up"></i>
        </a>
    </li>
{% endblock %}

{% block helptext %}
{% endblock %}

{% block body %}
    <div id="svelte-app"></div>
{% endblock %}
