{% extends 'base.html.twig' %}

{% block title %}
    View job {{ job.jobId }}
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href='/css/uPlot.min.css'>
    {{ parent() }}
    {{ encore_entry_link_tags('jobview') }}
{% endblock %}

{% block javascript %}
    <script>
        const jobInfos = {
            id: "{{ job.id }}",
            jobId: "{{ job.jobId }}",
            clusterId: "{{ job.clusterId }}"
        };

        const clusterCockpitConfigPromise = Promise.resolve({
            jwt: "{{ jwt }}",
            plot_general_colorscheme: {{ colormap | json_encode | raw }},
            plot_general_lineWidth: {{ config.plot_general_lineWidth.value }},
            plot_general_colorBackground: {{ config.plot_general_colorBackground.value }},
            plot_view_showRoofline: {{ config.plot_view_showRoofline.value }},
            plot_view_showPolarplot: {{ config.plot_view_showPolarplot.value }},
            plot_view_showStatTable: {{ config.plot_view_showStatTable.value }},
            plot_view_plotsPerRow: {{ config.plot_view_plotsPerRow.value }},
            job_view_selectedMetrics: {{ (config.job_view_selectedMetrics is defined)
                ? config.job_view_selectedMetrics.value | raw
                : "null" }},
            job_view_nodestats_selectedMetrics: {{ (config.job_view_nodestats_selectedMetrics is defined)
                ? config.job_view_nodestats_selectedMetrics.value | raw
                : "null" }},
        });
    </script>
    {{ encore_entry_script_tags('jobview') }}
{% endblock %}

{% block helptext %}
    <h5>Tag area</h5>
    <p>
        Below the job meta data table there are the tags set for this jobs and
        a button Add Tag which allows opens a form to add a new tag. Known tags
        are automatically expanded, unknown tags will be added. To remove a tag
        move the cursor above a tag pill, a remove button will appear. If you press
        it the tag will be removed from the job.
    </p>
    <h5>Roofline plot</h4>
    <p>
    </p>
    <h5>Polar plot</h4>
    <p>
    </p>
    <h4>Metric plots</h4>
    <p>
    </p>
    <h4>Node statistic table</h4>
    <p>
    </p>
{% endblock %}

{% block body %}
    <div id="svelte-app"></div>
{% endblock %}
