<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/fontawesome-all.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="Site" data-id="{{ id|default(0) }}">
        <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('index') }}">
                {% block brand %}
                    <img alt="RRZE logo" src="{{ asset('img/rrze-logo.png') }}" class="d-inline-block align-top">
                    <img alt="Brand" src="{{ asset('img/cc-logo.png') }}" class="d-inline-block align-top">
                {% endblock %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                {% block navigation %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('list_jobs') }}">
                                Live view
                                <i class="fas fa-server"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('search_jobs') }}">
                                Job Search
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_stat') }}">
                                    User Statistics
                                    <i class="fas fa-database"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('job_tag_types') }}">
                                    Jobtags
                                    <i class="fas fa-tag"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('config_index') }}">
                                    Settings
                                    <i class="fas fa-cog"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('show_user', {id : app.user.id}) }}">
                                    Statistics
                                    <i class="fas fa-database"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('config_user') }}">
                                    Settings
                                    <i class="fas fa-cog"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <button type="button" class="btn btn-info"  href="#helpmodal"  data-toggle="modal" data-target="#helpmodal">
                        <i class="fas fa-question-circle"></i> Help
                    </button>

                {% endblock %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout') }}">
                                {{ app.user.username }} Logout
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex my-0" onsubmit="this.action='{{ path('search_id') }}';">
                        <input class="form-control mr-2" name="searchId" placeholder="jobId / userId" id="searchId" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                {% endif %}
            </div>
            </div>
        </nav>
        </header>

        <main class="Site-content">
            <div class="container-fluid">

                <div class="modal" id="helpmodal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Help</h4>
                            </div>
                            <div class="modal-body">
                                {% block helptext %}
                                {% endblock %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                    Close
                                    <i class="fas fa-times fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                {% block body %}
                {% endblock %}
            </div>
        </main>

        {% block footer %}
            <footer class="Site-footer">
                <ul class="footer-list">
                    <li class="footer-list-item"><a class="footer-link" href="/imprint" title="Imprint" rel="nofollow">Imprint</a></li>
                    <li class="footer-list-item"><a class="footer-link" href="/privacy" title="Privacy Policy" rel="nofollow">Privacy Policy</a></li>
                </ul>
            </footer>
        {% endblock %}
        {% block javascript %}
            <script src="{{ asset('js/jquery.min.js') }}"/></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"/></script>
        {% endblock %}
    </body>
</html>
