{% if showJobCloud %}
<div class="row">
    <div class="col-md-4 offset-md-2">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="col"> Id </th>
                    <td scope="col"> {{ id }} </td>
                </tr>
                <tr>
                    <th scope="col"> Name </th>
                    <td scope="col"> {{ name }} </td>
                </tr>
                <tr>
                    <th scope="col"> Contact </th>
                    <td scope="col"> {{ contact }} </td>
                </tr>
                <tr>
                    <th scope="col"> Job Count </th>
                    <td scope="col"> {{ stat.jobCount }} </td>
                </tr>
                <tr>
                    <th scope="col"> Total walltime </th>
                    <td scope="col"> {{ stat.totalWalltime }} h </td>
                </tr>
                <tr>
                    <th scope="col"> Total core hours </th>
                    <td scope="col"> {{ stat.totalCoreHours }} h </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6" id="roofline">
<script>
        {% set traces = roofline.traces %}

var layout_roofline = {{ roofline.layout|raw }};

        {% for trace in traces %}
            var trace_roofline_{{ trace.name }} = {{ trace.json|raw }};
        {% endfor %}

        var data_roofline = [
           {% for trace in traces %}
               trace_roofline_{{ trace.name }},
           {% endfor %}
        ];

            Plotly.newPlot('roofline', data_roofline, layout_roofline);
</script>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-4 offset-md-2">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="col"> Id </th>
                    <td scope="col"> {{ id }} </td>
                </tr>
                <tr>
                    <th scope="col"> Name </th>
                    <td scope="col"> {{ name }} </td>
                </tr>
                <tr>
                    <th scope="col"> Contact </th>
                    <td scope="col"> {{ contact }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="col"> Job Count </th>
                    <td scope="col"> {{ stat.jobCount }} </td>
                </tr>
                <tr>
                    <th scope="col"> Total walltime </th>
                    <td scope="col"> {{ stat.totalWalltime }} h </td>
                </tr>
                <tr>
                    <th scope="col"> Total core hours </th>
                    <td scope="col"> {{ stat.totalCoreHours }} h </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}

