{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<div class="row align-items-center">
    <div class="col-md-2 offset-md-2">
        {{ form_row(form.month) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.year) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.cluster) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.submit) }}
    </div>
</div>
{{ form_end(form) }}

