{% extends 'base.html.twig' %}

{% block title %}
    Job DB
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container" style="margin-top:80px;">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.groupId) }}
                {{ form_row(form.organisation) }}
                {{ form_row(form.contact) }}
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

