{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('userlist') }}
{% endblock %}

{% block title %}
    User Statistics
{% endblock %}

{% block navitem_users %}
    <li class="nav-item">
        <a class="nav-link active fs-5" style="color: {{ active_link_color }};" aria-current="page" href="{{ path('user_stat') }}">
            <span class="cc-nav-text">Users</span>
            <i class="bi-people-fill"></i>
        </a>
    </li>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        const filterPresets = {{ (filterPresets is defined)
                ? filterPresets | json_encode | raw
                : "null" }};
        const clusterCockpitConfigPromise = Promise.resolve({
            jwt: "{{ jwt }}"
        });
    </script>
    {{ encore_entry_script_tags('userlist') }}
{% endblock %}

{% block body %}
    <div id="svelte-app"></div>
{% endblock %}
