{% extends 'base.html.twig' %}

{% block title %}
    User Statistics
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/datatables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables.min.js') }}"/></script>
    <script>
$(document).ready( function () {
    var table =  $('#stat').DataTable(
        {
            paging: false
        }
    );

    table
        .order( [ 3, 'desc' ] )
        .draw();
} );
    </script>

{% endblock %}

{% block body %}
    {{ include('renderStatForm.html.twig') }}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table table-striped" id="stat">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Total jobs</th>
                        <th scope="col">Short jobs</th>
                        <th scope="col">Total walltime [h]</th>
                        <th scope="col">Core hours [h]</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for user in users %}
                        <tr>
                            <td class="text-left">
                                <a href="{{ path('show_user',{ 'id':user.userId }) }}?year={{ control.year }}&month={{ control.month }}&cluster={{ control.cluster }}">
                                    {{ user.userName }}
                                </a>
                            </td>
                            <td> {{ user.jobCount }} </td>
                            <td> {{ user.shortJobs }} </td>
                            <td> {{ user.totalWalltime }} </td>
                            <td> {{ user.totalCoreHours }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
