{% extends 'base.html.twig' %}

{% block title %}
    Job DB
{% endblock %}

{% block body %}
    <script src="{{ asset('js/plotly-basic.min.js') }}"/></script>

{{ include('renderStatForm.html.twig') }}
{% set id = group.groupId %}
{% set name = group.organisation %}
{% set contact = group.contact %}
{% set showJobCloud = false %}
{{ include('renderStatTable.html.twig') }}

<div class="row">
    <div class="col">
        <table class="table table-striped" id="stat">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Total jobs</th>
                    <th scope="col">Total walltime [h]</th>
                    <th scope="col">Core hours [h]</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for user in users %}
                    {% if user.stat.stat.totalCoreHours > 0  %}
                        <tr>
                            <td class="text-left">
                                <a href="{{ path('show_user',{ 'id':user.meta.id }) }}?year={{ control.year }}&month={{ control.month }}&cluster={{ control.cluster }}">
                                    {{ user.meta.userId }}
                                </a>
                            </td>
                            <td> {{ user.stat.stat.jobCount }} </td>
                            <td> {{ user.stat.stat.totalWalltime }} </td>
                            <td> {{ user.stat.stat.totalCoreHours }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
